<header class="bg-white border-b border-gray-200">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between gap-4 px-4 py-3">

        <!-- Logo -->
        <a href="#" class="text-2xl font-bold text-blue-600" routerLink="">ShopEase</a>

        <!-- Search Bar -->
        <div class="flex items-center w-full md:w-1/2 bg-gray-100 rounded-full overflow-hidden">
            <input type="text" placeholder="Search for products..."
                class="flex-grow px-4 py-2 bg-transparent outline-none text-gray-700"
                (keyup.enter)="onSearch($event)" />
            <button type="submit" class="bg-blue-600 text-white px-4 py-2 hover:bg-blue-700">
                <mat-icon fontIcon="search" class="p-[2px]"></mat-icon>
            </button>
        </div>

        <!-- Profile -->

        @if(authService.isLoggedIn){
        <div class="flex">
            <a routerLink="/profile" class="flex items-center gap-2 text-gray-700 hover:text-blue-600 transition mx-7">
                <i class="bi bi-person text-2xl"></i>
                <span class="font-medium hidden sm:inline">{{authService.userName}}</span>
            </a>
            <a (click)="logout()" href="#" class="flex items-center gap-2 text-gray-700 hover:text-blue-600 transition">
                <i class="bi bi-box-arrow-left text-2xl"></i>
                <span class="font-medium hidden sm:inline">Logout</span>
            </a>
        </div>
        }
        @else{
        <div class="flex">
            <a [routerLink]="'register'"
                class="flex items-center gap-2 text-gray-700 hover:text-blue-600 transition mx-7">
                <i class="bi bi-person text-2xl"></i>
                <span class="font-medium hidden sm:inline">Register</span>
            </a>
            <a [routerLink]="'login'" class="flex items-center gap-2 text-gray-700 hover:text-blue-600 transition">
                <i class="bi bi-box-arrow-left text-2xl"></i>
                <span class="font-medium hidden sm:inline">Login</span>
            </a>
        </div>
        }
    </div>
</header>

<!-- Header Bottom (Category Menu) -->
<nav class="bg-gray-100 border-t border-gray-200">
    <div class="max-w-7xl mx-auto px-4">
        <ul class="flex flex-wrap justify-center gap-4 py-3 text-gray-700 font-medium">
            @for(item of categoryCollection; track $index){
            <li (click)="searchCategory(item._id)"><a [routerLink]=''
                    class="hover:text-blue-600 transition cursor-pointer">{{item.name}}</a></li>
            }
        </ul>
    </div>
</nav>